<%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/components/checkbox.css">
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/auth/signup.js"></script>
</head>
<body>
    <div id="signup-toplevel-container">
        <% if (signupStep === 'step1') { %>
            <%- include('../../partials/header') %>
                <span class="toplevel-header-link-text"><a href="/auth/signin">Sign In</a></span>
            </header>
            <div class="signup-main-container">
                <div class="signup-main-wrapper signup-step-<%= signupStep %>">
                    <div class="signup-step-img-wrapper">
                        <img src="/images/devices.png" alt="laptop tv tablet">
                    </div>
                    <h2 class="signup-stepno-heading">step <span class="small-num">1</span> of <span class="small-num">3</span></h2>
                    <h3 class="signup-step-heading">Finish setting up your account</h3>
                    <p class="signup-step-info-text">Fleek is personalized for you.<br>Create a password to watch on any device at any time</p>
                    <button type="button" class="native-bg block-strech proceed-button" data-account-info="" data-signup-stepname="<%= signupStep %>" data-next-signup-stepname="<%= nextSignupStep %>">Next</button>
                </div>
            </div>
        <% } else if (signupStep === 'add-password') { %>
            <%- include('../../partials/header') %>
                <span class="toplevel-header-link-text"><a href="/auth/signin">Sign In</a></span>
            </header>
            <div class="signup-main-container">
                <div class="signup-main-wrapper signup-step-<%= signupStep %>">
                    <h2 class="signup-stepno-heading">step <span class="small-num">1</span> of <span class="small-num">3</span></h2>
                    <h3 class="signup-step-heading">Create a password to start your membership</h3>
                    <p class="signup-step-info-text">Just a few more steps and you're done!<br>We hate paperwork, too.</p>
                    <form class="signup-form">
                        <fieldset>
                            <ul class="signup-form-ul">
                                <li>
                                    <label for="signup-form-email" class="off-screen">Email</label>
                                    <input type="email" name="email" id="signup-form-email" class="block-strech" placeholder="Add an email address">
                                </li>
                                <li>
                                    <label for="signup-form-password" class="off-screen">Password</label>
                                    <input type="password" name="password" id="signup-form-password" class="block-strech" placeholder="Add a password">
                                </li>
                            </ul>
                        </fieldset>
                        <label for="signup-form-offers-checkbox" class="signup-sub-main-text">
                        <span class="custom-checkbox-wrapper">
                            <input type="checkbox" name="fleek-special-offers" class="native-checkbox off-screen" id="signup-form-offers-checkbox">
                            <span class="custom-checkbox"></span>
                        </span>
                        Please do not email me Fleek special offers.</label>
                        <!-- <input type="button" class="native-bg block-strech" value="Next" data-account-info="credentials" data-signup-stepno="1-2"> -->
                        <button type="button" class="native-bg block-strech proceed-button" data-account-info="credentials" data-signup-stepname="<%= signupStep %>" data-next-signup-stepname="<%= nextSignupStep %>">Next</button>
                    </form>
                </div>
            </div>
        <% } else if (signupStep === 'step2') { %>
            <%- include('../../partials/header') %>
                <span class="toplevel-header-link-text"><a href="">Sign Out</a></span>
            </header>
            <div class="signup-main-container">
                <div class="signup-main-wrapper signup-step-<%= signupStep %>">
                    <div class="signup-step-img-wrapper">
                        <img src="/images/checkmark.png" alt="checkmark">
                    </div>
                    <h2 class="signup-stepno-heading">step <span class="small-num">2</span> of <span class="small-num">3</span></h2>
                    <h3 class="signup-step-heading">Choose your plan.</h3>
                    <ul class="signup-step-info-ul">
                        <li class="flex-wrapper">
                            <span class="svg-wraper"><%- include('../../../public/images/svg/checkmark.svg') %></span>
                            <span class="signup-step-info-text">No commitments, Cancel anytime.</span>
                        </li>
                        <li class="flex-wrapper">
                            <span class="svg-wraper"><%- include('../../../public/images/svg/checkmark.svg') %></span>
                            <span class="signup-step-info-text">Everything on Fleek for one low price</span>
                        </li>
                        <li class="flex-wrapper">
                            <span class="svg-wraper"><%- include('../../../public/images/svg/checkmark.svg') %></span>
                            <span class="signup-step-info-text">No ads and no extra fees. Ever.</span>
                        </li>
                    </ul>
                    <button type="button" class="native-bg block-strech proceed-button" data-account-info="" data-signup-stepname="<%= signupStep %>" data-next-signup-stepname="<%= nextSignupStep %>">Next</button>
                </div>
            </div>
        <% } else if (signupStep === 'choose-plan') { %>
            <%- include('../../partials/header') %>
                <span class="toplevel-header-link-text"><a href="/auth/signin">Sign Out</a></span>
            </header>
            <div class="signup-main-container">
                <div class="signup-main-wrapper signup-step-<%= signupStep %>">
                    <h2 class="signup-stepno-heading">step <span class="small-num">2</span> of <span class="small-num">3</span></h2>
                    <h3 class="signup-step-heading">Choose the plan that's right for you</h3>
                    <ul class="signup-step-info-ul">
                        <li class="flex-wrapper">
                            <span class="svg-wraper"><%- include('../../../public/images/svg/checkmark.svg') %></span>
                            <span class="signup-step-info-text">Watch all you want. Ad-free.</span>
                        </li>
                        <li class="flex-wrapper">
                            <span class="svg-wraper"><%- include('../../../public/images/svg/checkmark.svg') %></span>
                            <span class="signup-step-info-text">Recommendations just for you.</span>
                        </li>
                        <li class="flex-wrapper">
                            <span class="svg-wraper"><%- include('../../../public/images/svg/checkmark.svg') %></span>
                            <span class="signup-step-info-text">Change or cancel your plan anytime.</span>
                        </li>
                    </ul>
                    <table id="sub-plan-table" cellspacing="0">
                        <thead>
                            <tr class="tr-plans flex-wrapper">
                                <th class="lead-cell-th"></th>
                                <% for (let plan in subscriptionData.plans) { %>
                                    <th class="signup-<%= (plan==='premium') ? '' : 'inactive-' %>native-bg flex-wrapper sub-plan-button sub-plan-<%= plan %>" data-sub-plan="<%= plan %>">
                                        <label class="off-screen" for="signup-sub-plan-radio"><%= plan %> Plan</label>
                                        <input type="radio" name="sub-plan" value="<%= plan %>" class="off-screen" id="signup-sub-plan-radio" <%= (plan==='premium') ? 'checked' : '' %>>
                                        <span><%= plan %></span>
                                    </th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-price flex-wrapper">
                                <th scope="row" class="lead-cell-th">Monthly Price</th>
                                <% for (let plan in subscriptionData.plans) { %>
                                    <td class="<%= (plan==='premium') ? 'signup-native-fg' : '' %> sub-plan-<%= plan %>" data-sub-plan="<%= plan %>"><span>N<%= subscriptionData.plans[plan].price %></span></td>
                                <% } %>
                            </tr>
                            <tr class="tr-vid-quality flex-wrapper">
                                <th scope="row" class="lead-cell-th">Video Quality</th>
                                <% for (let plan in subscriptionData.plans) { %>
                                    <td class="<%= (plan==='premium') ? 'signup-native-fg' : '' %> sub-plan-<%= plan %>" data-sub-plan="<%= plan %>"><span><%= subscriptionData.plans[plan].videoQuality %></span></td>
                                <% } %>
                            </tr>
                            <tr class="tr-resolution flex-wrapper">
                                <th scope="row" class="lead-cell-th">Resolution</th>
                                <% for (let plan in subscriptionData.plans) { %>
                                    <td class="<%= (plan==='premium') ? 'signup-native-fg' : '' %> sub-plan-<%= plan %>" data-sub-plan="<%= plan %>"><span><%= subscriptionData.plans[plan].resolution %></span></td>
                                <% } %>
                            </tr>
                            <tr class="tr-devices flex-wrapper">
                                <th scope="row" class="lead-cell-th">Devices you can use to watch</th>
                                <% for (let plan in subscriptionData.plans) { %>
                                    <td class="<%= (plan==='premium') ? 'signup-native-fg' : '' %> sub-plan-<%= plan %>" data-sub-plan="<%= plan %>">
                                        <div class="flex-wrapper">
                                            <% for (let device of subscriptionData.plans[plan].devices) { %>
                                                <span class="tr-svg-icon-container signup-sub-main-text">
                                                    <span class="tr-svg-wrapper signup-sub-main-text"><%- include(subscriptionData.urls[device]) %></span>
                                                    <%= device %>
                                                </span>
                                            <% } %>
                                        </div>
                                    </td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                    <div class="signup-sub-main-text signup-extra-plan-info">
                        <p>
                            HD (720p), Full HD (1080p), Ultra HD (4K) and HDR availability subject to your internet service and device capabilities.
                            Not all content is available in all resolutions. See our <a>Terms of Use</a> for more details.
                        </p>
                        <p>
                            Only people who live with you may use your account.
                            Watch on 4 different devices at the same time with Premium, 2 with Standard, and 1 with Basic and Mobile.
                        </p>
                    </div>
                    <button class="native-bg block-strech proceed-button" data-account-info="subscription-plan" data-signup-stepname="<%= signupStep %>" data-next-signup-stepname="<%= nextSignupStep %>">Next</button>
                </div>
            </div>
        <% } else if (signupStep === 'step3') { %>
            <%- include('../../partials/header') %>
                <span class="toplevel-header-link-text"><a href="/auth/signin">Sign Out</a></span>
            </header>
            <div class="signup-main-container">
                <div class="signup-main-wrapper signup-step-<%= signupStep %>">
                    <div class="signup-step-img-wrapper">
                        <img src="/images/lock.png" alt="lock">
                    </div>
                    <h2 class="signup-stepno-heading">step <span class="small-num">3</span> of <span class="small-num">3</span></h2>
                    <h3 class="signup-step-heading">Set up your payment</h3>
                    <div class="signup-step-info-text-wrapper">
                        <p class="signup-step-info-text">Your membership starts<br>as soon as you set up<br>payment.</p>
                        <p class="signup-step-info-text">No commitments.<br>Cancel online anytime</p>
                    </div>
                    <div class="signup-proceed-button-wrapper">
                        <div class="flex-wrapper signup-secure-server-wrapper signup-sub-main-text">
                            <span>Secure Server</span><img src="/images/svg/secure.svg" id="signup-secure-server-icon" alt="padlock icon">
                        </div>
                        <button type="button" class="proceed-button flex-wrapper" data-account-info="" data-signup-stepname="<%= signupStep %>" data-next-signup-stepname="<%= nextSignupStep %>">
                            <span>Credit or Debit Card</span>
                            <img class="signup-card-option-icon" src="/images/svg/visa.svg">
                            <img class="signup-card-option-icon" src="/images/svg/mastercard.svg">
                            <img class="signup-card-option-icon" src="/images/verve.png">
                            <%- include('../../../public/images/svg/next-button.svg') %>
                            <!-- <img src="/images/svg/next-button.svg"> -->
                        </button>
                    </div>
                </div>
            </div>
        <% } else if (signupStep === 'credit-option') { %>
            <%- include('../../partials/header') %>
                <span class="toplevel-header-link-text"><a href="/auth/signin">Sign Out</a></span>
            </header>
            <div class="signup-main-container">
                <div class="signup-main-wrapper signup-step-<%= signupStep %>">
                    <h2 class="signup-stepno-heading">step <span class="small-num">1</span> of <span class="small-num">3</span></h2>
                    <h3 class="signup-step-heading">Create a password to start your membership</h3>
                    <p class="signup-step-info-text">Just a few more steps and you're done!<br>We hate paperwork, too.</p>
                    <form class="signup-form">
                        <fieldset>
                            <ul class="signup-form-ul">
                                <li>
                                    <label for="signup-form-email" class="off-screen">Email</label>
                                    <input type="email" name="email" id="signup-form-email" class="block-strech" placeholder="Add an email address">
                                </li>
                                <li>
                                    <label for="signup-form-password" class="off-screen">Password</label>
                                    <input type="password" name="password" id="signup-form-password" class="block-strech" placeholder="Add a password">
                                </li>
                            </ul>
                        </fieldset>
                        <label for="signup-form-offers-checkbox" class="signup-sub-main-text">
                        <span class="custom-checkbox-wrapper">
                            <input type="checkbox" name="fleek-special-offers" class="native-checkbox off-screen" id="signup-form-offers-checkbox">
                            <span class="custom-checkbox"></span>
                        </span>
                        Please do not email me Fleek special offers.</label>
                        <button type="button" class="native-bg block-strech proceed-button" data-account-info="credentials" data-signup-stepname="<%= signupStep %>" data-next-signup-stepname="<%= nextSignupStep %>">Next</button>
                    </form>
                </div>
            </div>
        <% } %>
        <%- include('../../partials/auth/footer') %>
    </div>
<%- include('../../partials/end') %>
