<%- include('../../partials/head') %>
    <!-- <link rel="stylesheet" href="/css/content/edit-profile.css"> -->
    <!-- <script src="/js/content/edit-profile.js" type="module" data-fetchmethod="native"></script> -->
</head>
<body>
    <div id="toplevel-container" data-fragment-name="editProfile">
        <%- include('../../partials/header') %>
        </header>   
        <div id="lowlevel-container" class="transZero zoom" data-transition-class="zoom">
            <div class="main-wrapper">
                <h2 class="main-heading">Edit Profile</h2>
                <form action="/profiles/editprofile" method="POST">
                    <div class="settings-container flex-wrapper">
                        <div class="profilePhoto-container flex-wrapper">
                            <div class="profilePhoto-wrapper overlay-wrapper">
                                <img src="<%= profile.profilePhotoUrl %>" alt="profile photo">
                                <%- include('../../../public/images/svg/edit-pencil.svg') %>
                            </div>
                        </div>
                        <div class="settings-wrapper">
                            <div class="languageSettings-wrapper">
                                <input type="text" name="profileName" value="<%= profile.name %>">
                                <label for="language-select">Language:</label>
                                <select id="language-select" name="profileLanguage"></select>
                            </div>
                            <div class="maturitySettings-wrapper">
                                <h3 class="setting-heading">Maturity Settings</h3>
                                <span>All Maturity Ratings</span>
                                <p>Show titles of <b>all maturity ratings</b> for this profile</p>
                                <button type="button" class="editMaturity-button">Edit</button>
                            </div>
                            <div class="autoplaySettings-wrapper">
                                <h3 class="setting-heading">Autoplay Controls</h3>
                                <label for="autoNextEpisode-checkbox" class="custom-checkbox-container autoplayCheckbox-label">
                                    <%- include('../../components/checkbox', { 
                                        checkboxName: 'autoNextEpisode',
                                        checkboxId: 'autoNextEpisode-checkbox', 
                                        checkboxValue: 'true',
                                        checked: true,
                                        disabled: false,
                                    }) %>
                                    Autoplay next episode in a series on all devices.
                                </label>
                                <label for="autoPreview-checkbox" class="custom-checkbox-container autoplayCheckbox-label">
                                    <%- include('../../components/checkbox', { 
                                        checkboxName: 'autoPreview',
                                        checkboxId: 'autoNextPreview-checkbox', 
                                        checkboxValue: 'true',
                                        checked: true,
                                        disabled: false,
                                    }) %>
                                    Autoplay previews while browsing on all devices.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="flex-wrapper actions-wrapper">
                        <button type="submit" class="save-button">Save</button>
                        <button type="button" class="cancel-button">Cancel</button>
                        <button type="button" class="delete-button">Delete Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('../../partials/end') %>