<%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/main-content.css">
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/index.js"></script>  
</head>
<body>
    <div id="home-container">
        <section class="home-section" id="home-section-1">
            <%- include('../../partials/header') %>
                <button type="button" class="native-bg" id="home-header-signin"><a href="/auth/sign-in">Sign In</a></button>
            </header>
            <div class="home-section-text-wrapper">
                <h2 class="home-section-heading">Unlimited movies, TV<br> shows, and more.</h2>
                <h3 class="home-section-subheading">Watch anywhere. Cancel anytime</h3>
                <div class="form-signup-wrapper"> 
                    <p class="home-text-small">Ready to watch? Enter your email to create or restart your membership.</p>
                    <form method="POST" action="" id="form-signup-top">
                        <ul class="form-signup-ul">
                            <li class="flex-wrapper">
                                <label class="off-screen" for="form-signup-top-email">Email</label>
                                <input type="email" name="email" placeholder="Email address" id="form-signup-top-email">
                                <button type="button" class="native-bg"><a href="">Get Started ></a></button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div class="flex-wrapper">
                <div class="home-section-text-wrapper">
                    <h2 class="home-section-heading">Enjoy on your TV</h2>
                    <h3 class="home-section-subheading">Watch on Smart Tvs, PlayStation. Xbox, Chromecast, Apple TV, Blu-ray players, and more.</h3>
                </div>
                <div id="img-wrapper-tvset" class="img-wrapper overlay-wrapper">
                    <img src="/images/home-tv.png" alt="tv set" id="home-tvset">
                    <video src="/video/home-tv-video.m4v" id="home-vid-tvset" class="overlay" autoplay loop></video>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div class="flex-wrapper">
                <div id="img-wrapper-trending" class="img-wrapper overlay-wrapper">
                    <img src="/images/home-trending-movie-phone.jpg" alt="trending movie cover" id="home-trending-movie">
                    <div class="overlay flex-wrapper" id="img-wrapper-downloading"><img src="images/home-trending-movie-cover.png" alt="trending movie cover"><span class="text-bold">Downloading...</span><span>>></span></div>
                </div>
                <div class="home-section-text-wrapper">
                    <h2 class="home-section-heading">Download your shows to watch offline.</h2>
                    <h3 class="home-section-subheading">Save your favorites easily and always have something to watch.</h3>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div class="flex-wrapper">
                <div class="home-section-text-wrapper">
                    <h2 class="home-section-heading">Watch everywhere.</h2>
                    <h3 class="home-section-subheading">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</h3>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div class="flex-wrapper">
                <div id="img-wrapper-kids" class="img-wrapper">
                    <img src="/images/home-kids-cover.png" alt="kids cartoon" id="home-kids-cartoon">
                </div>
                <div class="home-section-text-wrapper">
                    <h2 class="home-section-heading">Create profiles for kids.</h2>
                    <h3 class="home-section-subheading">Send kids on adventures with their favorite characters in a space made just for them&mdash;free with your membership.</h3>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div id="home-faq-wrapper">
                <h2 class="home-section-heading">Frequently Asked Questions</h2>
                <ul id="home-ul-faq">
                    <% for (let faq of faqList) { %>
                        <li>
                            <div class="flex-wrapper home-faq-button">
                                <span class="faq-button-wrapper flex-wrapper"><button type="button"><%= faq.question %></button><!--<svg></svg>--><span>+</span></span>
                            </div>
                            <div class="off-screen home-faq-answer"><%- faq.answer %></div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="form-signup-wrapper"> 
                <p class="home-text-small">Ready to watch? Enter your email to create or restart your membership.</p>
                <form method="POST" action="" id="form-signup-top">
                    <ul class="form-signup-ul">
                        <li class="flex-wrapper">
                            <label class="off-screen" for="form-signup-top-email">Email</label>
                            <input type="email" name="email" placeholder="Email address" id="form-signup-top-email">
                            <button type="button" class="native-bg">Get Started ></button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
        <footer id="home-footer">
            <nav id="home-footer-nav-wrapper" class="home-text-small">
                <p class="home-footer-heading">Questons? <a href="">Contact us.</a></p>
                <ul class="flex-wrapper" id="home-footer-nav-list">
                    <% for (let navItem of navList) { %>
                        <li class="home-footer-nav-item"><a><%= navItem %></a></li>
                    <% } %>
                </ul>
                <span>Netflix Nigeria</span>
            <nav>
        </footer>
    </div>
<%- include('../../partials/end') %>