<%- include(coreRoot + '/head') %>
    <link rel="stylesheet" href="/css/profiles/setup.css">
    <script src="/js/profiles/setup-cb.js" data-fetchmethod="native" type="module"></script>
</head>
<body>
    <div id="toplevel-container" data-fragment-name="setup">
        <%- include(coreRoot + '/header') %>
        <a class="help-link" href="">Help</a>
        </header>
        <div id="lowlevel-container" class="transZero offScreenRight" data-transition-class="offScreenRight">
            <div class="main-wrapper flex-wrapper">
                <div class="heading-wrapper">
                    <h2 class="step-no">Step <span class="text-bold">5</span> of <span class="text-bold">5</span></h2>
                    <h3 class="step-heading"><%= profile.name %>, choose 3 you like.</h3>
                    <p>This helps us to find TV shows and movies you'll love.<br><span class="text-bold">Select the ones you like.</span></p>
                </div>
                <form class="posters-form posters-container" action="/profiles/setup" method="POST">
                    <div class="posters-wrapper grid-wrapper">
                        <% for (let contentDoc of contentList) { %>
                            <div class="poster-wrapper overlay-wrapper">
                                <!-- <img class="poster" src="<%= contentDoc.coverPath %>" alt="poster"> -->
                                <img class="poster" src="/images/def-profile-photo.png" alt="poster">
                                <%- include(svgRoot + '/like5.svg') %>
                                <input type="hidden" name="contentId" value="<%= contentDoc._id %>" disabled>
                            </div>
                        <% } %>
                    </div>
                    <input type="submit" value="Pick 3 to continue" class="continue-button" disabled>
                    <input type="hidden" name="profileId" value="<%= profile._id %>">
                </form>
            </div>
            <%- include(coreRoot + '/footer') %>
        </div>
    </div>
<%- include(coreRoot + '/end') %>