<footer class="<%= leadName %>-footer">
    <nav id="<%= leadName %>-footer-nav-wrapper">
        <p class="<%= leadName %>-footer-heading">Questons? <a>Contact us.</a></p>
        <ul class="flex-wrapper <%= leadName %>-text-small" id="<%= leadName %>-footer-nav-list">
            <% for (let navItem of navList) { %>
                <li class="<%= leadName %>-footer-nav-item"><a href=""><%= navItem %></a></li>
            <% } %>
        </ul>
    <nav>
</footer>